# Dépendances installées (toujours ignoré)
node_modules/
package-lock.json

# Données utilisateurs & profils (sécurité & spécificité locale)
data/

# Fichiers temporaires / OS
.DS_Store
Thumbs.db
*.log
prov/

# Editeurs de texte
.vscode/
.idea/
*.swp
*.swo

# build
dist/

# Autres éditeurs
*.kra